In [3]:
import pandas as pd
import json
import flask
from flask import Flask, jsonify

In [39]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [40]:
csv = "race_data.csv"

In [41]:
df = pd.read_csv(csv)
df = df.sort_values(by=['State','Date'])

In [33]:
df.columns

Index(['Date', 'State', 'Cases_Total', 'Cases_White', 'Cases_Black',
       'Cases_Latinx', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI',
       'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown',
       'Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic',
       'Cases_Ethnicity_Unknown', 'Deaths_Total', 'Deaths_White',
       'Deaths_Black', 'Deaths_Latinx', 'Deaths_Asian', 'Deaths_AIAN',
       'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other', 'Deaths_Unknown',
       'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic',
       'Deaths_Ethnicity_Unknown', 'White Cases %', 'Black Cases %',
       'Latinx Cases %', 'Native Cases %', 'Pacific Islander Cases %',
       'Asian Cases %', 'White Deaths %', 'Black Deaths %', 'Latinx Deaths %',
       'Asian Deaths %', 'Native Deaths %', 'Pacific Islander Deaths %'],
      dtype='object')

In [42]:
df = df[['Date', 'State', 'Cases_Total', 'Cases_White', 'Cases_Black',
       'Cases_Latinx', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI',
       'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown',
       'Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic',
       'Cases_Ethnicity_Unknown', 'Deaths_Total', 'Deaths_White',
       'Deaths_Black', 'Deaths_Latinx', 'Deaths_Asian', 'Deaths_AIAN',
       'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other', 'Deaths_Unknown',
       'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic',
       'Deaths_Ethnicity_Unknown']]

In [43]:
# replace none and Nan
df

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Deaths_Latinx,Deaths_Asian,Deaths_AIAN,Deaths_NHPI,Deaths_Multiracial,Deaths_Other,Deaths_Unknown,Deaths_Ethnicity_Hispanic,Deaths_Ethnicity_NonHispanic,Deaths_Ethnicity_Unknown
0,2020-04-12,AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-04-15,AK,293.0,133.0,4.0,NaN,25.0,13.0,3.0,6.0,...,NaN,2.0,2.0,1.0,0.0,0.0,2.0,0.0,5.0,4.0
2,2020-04-19,AK,319.0,167.0,7.0,NaN,33.0,14.0,4.0,10.0,...,NaN,2.0,2.0,1.0,0.0,0.0,2.0,0.0,5.0,4.0
3,2020-04-22,AK,335.0,184.0,7.0,NaN,37.0,18.0,6.0,10.0,...,NaN,2.0,2.0,1.0,0.0,0.0,2.0,0.0,6.0,3.0
4,2020-04-26,AK,341.0,190.0,7.0,NaN,41.0,18.0,6.0,0.0,...,NaN,2.0,2.0,1.0,0.0,0.0,0.0,0.0,9.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5315,2021-02-21,WY,53795.0,27553.0,417.0,4085.0,274.0,2202.0,132.0,NaN,...,57.0,6.0,50.0,1.0,NaN,8.0,11.0,57.0,594.0,11.0
5316,2021-02-24,WY,53988.0,27671.0,417.0,4095.0,277.0,2220.0,132.0,NaN,...,57.0,6.0,51.0,1.0,NaN,8.0,11.0,57.0,603.0,11.0
5317,2021-02-28,WY,54394.0,27870.0,423.0,4111.0,279.0,2227.0,133.0,NaN,...,57.0,6.0,51.0,1.0,NaN,8.0,11.0,57.0,603.0,11.0
5318,2021-03-03,WY,54616.0,28022.0,424.0,4119.0,281.0,2234.0,134.0,NaN,...,58.0,6.0,51.0,1.0,NaN,8.0,11.0,58.0,613.0,11.0
5319,2021-03-07,WY,54764.0,28117.0,425.0,4134.0,281.0,2250.0,134.0,NaN,...,58.0,6.0,51.0,1.0,NaN,8.0,11.0,58.0,613.0,11.0

In [44]:
df['White_Cases_per']= df['Cases_White']/df['Cases_Total']
df['Black_Cases_per']= df['Cases_Black']/df['Cases_Total']
df['Latinx_Cases_per']= df['Cases_Latinx']/df['Cases_Total']
df['Asian_Cases_per']= df['Cases_Asian']/df['Cases_Total']
df['Native Cases_per']= df['Cases_AIAN']/df['Cases_Total']
df['Pacific Islander Cases_per']= df['Cases_NHPI']/df['Cases_Total']

df['White Deaths_per']= df['Deaths_White']/df['Deaths_Total']
df['Black Deaths_per']= df['Deaths_Black']/df['Deaths_Total']
df['Latinx Deaths_per']= df['Deaths_Latinx']/df['Deaths_Total']
df['Asian Deaths_per']= df['Deaths_Asian']/df['Deaths_Total']
df['Native Deaths_per']= df['Deaths_AIAN']/df['Deaths_Total']
df['Pacific Islander Deaths_per']= df['Deaths_NHPI']/df['Deaths_Total']
df.dtypes

Date                             object
State                            object
Cases_Total                     float64
Cases_White                     float64
Cases_Black                     float64
Cases_Latinx                    float64
Cases_Asian                     float64
Cases_AIAN                      float64
Cases_NHPI                      float64
Cases_Multiracial               float64
Cases_Other                     float64
Cases_Unknown                   float64
Cases_Ethnicity_Hispanic        float64
Cases_Ethnicity_NonHispanic     float64
Cases_Ethnicity_Unknown         float64
Deaths_Total                    float64
Deaths_White                    float64
Deaths_Black                    float64
Deaths_Latinx                   float64
Deaths_Asian                    float64
Deaths_AIAN                     float64
Deaths_NHPI                     float64
Deaths_Multiracial              float64
Deaths_Other                    float64
Deaths_Unknown                  float64
Deaths_Ethnicity_Hispanic       float64
Deaths_Ethnicity_NonHispanic    float64
Deaths_Ethnicity_Unknown        float64
White_Cases_per                 float64
Black Cases_per                 float64
Latinx Cases_per                float64
Asian Cases_per                 float64
Native Cases_per                float64
Pacific Islander Cases_per      float64
White Deaths_per                float64
Black Deaths_per                float64
Latinx Deaths_per               float64
Asian Deaths_per                float64
Native Deaths_per               float64
Pacific Islander Deaths_per     float64
dtype: object

In [37]:
df.to_csv('race_data.csv', index=False)