In [3]:
import pandas as pd
import json
import flask
from flask import Flask, jsonify

In [4]:
csv = "race_data.csv"

In [5]:
df = pd.read_csv(csv)
df = df.sort_values(by=['State','Date'])

In [7]:
df.columns

Index(['Date', 'State', 'Cases_Total', 'Cases_White', 'Cases_Black',
       'Cases_Latinx', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI',
       'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown',
       'Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic',
       'Cases_Ethnicity_Unknown', 'Deaths_Total', 'Deaths_White',
       'Deaths_Black', 'Deaths_Latinx', 'Deaths_Asian', 'Deaths_AIAN',
       'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other', 'Deaths_Unknown',
       'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic',
       'Deaths_Ethnicity_Unknown'],
      dtype='object')

In [8]:
df = df[['Date', 'State', 'Cases_Total', 'Cases_White', 'Cases_Black',
       'Cases_Latinx', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI',
       'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown',
       'Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic',
       'Cases_Ethnicity_Unknown', 'Deaths_Total', 'Deaths_White',
       'Deaths_Black', 'Deaths_Latinx', 'Deaths_Asian', 'Deaths_AIAN',
       'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other', 'Deaths_Unknown',
       'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic',
       'Deaths_Ethnicity_Unknown']]

In [9]:
# replace none and Nan
df

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Deaths_Latinx,Deaths_Asian,Deaths_AIAN,Deaths_NHPI,Deaths_Multiracial,Deaths_Other,Deaths_Unknown,Deaths_Ethnicity_Hispanic,Deaths_Ethnicity_NonHispanic,Deaths_Ethnicity_Unknown
93,2020-04-12,AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,2020-04-15,AK,293.0,133.0,4.0,NaN,25.0,13.0,3.0,6.0,...,NaN,2.0,2.0,1.0,0.0,0.0,2.0,0.0,5.0,4.0
24,2020-04-19,AK,319.0,167.0,7.0,NaN,33.0,14.0,4.0,10.0,...,NaN,2.0,2.0,1.0,0.0,0.0,2.0,0.0,5.0,4.0
26,2020-04-22,AK,335.0,184.0,7.0,NaN,37.0,18.0,6.0,10.0,...,NaN,2.0,2.0,1.0,0.0,0.0,2.0,0.0,6.0,3.0
28,2020-04-26,AK,341.0,190.0,7.0,NaN,41.0,18.0,6.0,0.0,...,NaN,2.0,2.0,1.0,0.0,0.0,0.0,0.0,9.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5248,2021-02-21,WY,53795.0,27553.0,417.0,4085.0,274.0,2202.0,132.0,NaN,...,57.0,6.0,50.0,1.0,NaN,8.0,11.0,57.0,594.0,11.0
5237,2021-02-24,WY,53988.0,27671.0,417.0,4095.0,277.0,2220.0,132.0,NaN,...,57.0,6.0,51.0,1.0,NaN,8.0,11.0,57.0,603.0,11.0
5297,2021-02-28,WY,54394.0,27870.0,423.0,4111.0,279.0,2227.0,133.0,NaN,...,57.0,6.0,51.0,1.0,NaN,8.0,11.0,57.0,603.0,11.0
5288,2021-03-03,WY,54616.0,28022.0,424.0,4119.0,281.0,2234.0,134.0,NaN,...,58.0,6.0,51.0,1.0,NaN,8.0,11.0,58.0,613.0,11.0
5309,2021-03-07,WY,54764.0,28117.0,425.0,4134.0,281.0,2250.0,134.0,NaN,...,58.0,6.0,51.0,1.0,NaN,8.0,11.0,58.0,613.0,11.0

In [15]:
df['White Cases %']= df['Cases_White']/df['Cases_Total']
df.dtypes

Date                             object
State                            object
Cases_Total                     float64
Cases_White                     float64
Cases_Black                     float64
Cases_Latinx                    float64
Cases_Asian                     float64
Cases_AIAN                      float64
Cases_NHPI                      float64
Cases_Multiracial               float64
Cases_Other                     float64
Cases_Unknown                   float64
Cases_Ethnicity_Hispanic        float64
Cases_Ethnicity_NonHispanic     float64
Cases_Ethnicity_Unknown         float64
Deaths_Total                    float64
Deaths_White                    float64
Deaths_Black                    float64
Deaths_Latinx                   float64
Deaths_Asian                    float64
Deaths_AIAN                     float64
Deaths_NHPI                     float64
Deaths_Multiracial              float64
Deaths_Other                    float64
Deaths_Unknown                  float64
Deaths_Ethnicity_Hispanic       float64
Deaths_Ethnicity_NonHispanic    float64
Deaths_Ethnicity_Unknown        float64
White Cases %                   float64
dtype: object

In [12]:
df.to_csv('race_data.csv', index=False)